:global .titleField {
    color:#333;
    background-color:#eeeeee;
    border: 1px solid #999;
}

:global .descriptionField {
    color:#333;
    background-color:yellowgreen !important;
    border: 1px solid #999;
}