:global label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}

:global .gte_button {
    border: 1px solid #999;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #ccc;
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.88em;
    margin-right: 3px;
    padding: 5px 8px;
    position: relative;
    float: left;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 89%, #fafafa 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 89%, #fafafa 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 89%, #fafafa 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 89%, #fafafa 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #ffffff 0%, #f9f9f9 89%, #fafafa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0); /* IE6-9 */
}

:global .gte_button:hover:not(.gte_btn_disabled) {
    border: 1px solid #666;
    box-shadow: 1px 1px 1px #999;

    background: #f3f3f3; /* Old browsers */
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%); /* IE10+ */
    background: -o-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f4f4f4', GradientType=0); /* IE6-9 */
}

:global .gte_buttons_container {
    float: left;
    margin: 0 5px 0 0;
}

:global .gte_btn_disabled {
    background: #fff;
    box-shadow: 1px 1px 1px #999;
    border: 1px solid #eee;
    cursor: default;
    color: #999 !important;
}

:global .gte_editor_popup {
    /*display:none;*/
    height: 100%;
    left: 50%;
    margin-left: -390px;
    position: fixed;
    top: -20px;
    width: 780px;
    z-index: 111;
    opacity: 0;
}

:global .gte_popup_background {
    /*display:none;*/
    visibility: hidden;
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse farthest-corner at center center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 110;
}

:global .gte_popup_container {
    display: table;
    height: 100%;
    width: 100%;
    margin-top: 15%;
}

:global .gte_form_body {
    padding: 50px 0;
}

:global .gte_form_body_content {
    overflow: auto;
    position: relative;
}

:global .gte_popup_container_wrapper {
    display: table;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

:global .gte_form_border_box {
    border: 7px solid rgba(220, 220, 220, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #555;
    box-sizing: border-box;
    position: relative;
}

:global .gte_form_fields {
    background: white none repeat scroll 0 0;
    border: 2px solid #444;
    border-radius: 6px;
    box-shadow: 0 0 5px #555;
    box-sizing: border-box;
    overflow: auto;
    height: 500px;
}

:global .gte_form_fields_delete {
    height: 180px;
}

:global .gte_editor_fields {
    border: 1px solid transparent;
    clear: both;
    padding: 5px 20%;
    position: relative;
}

:global .gte_form_content {
    padding: 10px;
    position: relative;
}

:global .gte_header {
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1.3em;
    height: 50px;
    /*left: 0;*/
    padding: 16px 10px 2px 16px;
    position: absolute;
    /*top: 0;*/
    /*width: 100%;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: 2px;
    right: 2px;
    top: 2px;
    width: auto;
    z-index: 11;
}

:global .gte_footer {
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
    /*bottom: 0;*/
    box-sizing: border-box;
    height: 50px;
    /*left: 0;*/
    padding: 10px;
    position: absolute;
    /*width: 100%;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    width: auto;
    z-index: 11;
}

:global .gte_form_err {
    color: #b11f1f;
    display: none;
    float: left;
    padding: 5px;
}

:global .gte_form_buttons .btn {
    position: relative;
    text-align: center;
    display: block;
    margin-top: 0;
    padding: 5px 15px;
    cursor: pointer;
    float: right;
    font-size: 14px;
    text-shadow: 0 1px 0 white;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px #cccccc;
    -moz-box-shadow: 1px 1px 3px #cccccc;
    box-shadow: 1px 1px 3px #cccccc;
    background-color: #f9f9f9 100%;
    /* Fallback */
    background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
    /* IE10 */
    background-image: -o-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='white', EndColorStr='#f9f9f9');
}

:global .gte_form_buttons .btn:hover {
    background-color: #f3f3f3 100%;
    /* Fallback */
    background-image: -webkit-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
    /* IE10 */
    background-image: -o-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='white', EndColorStr='#f3f3f3');
    border: 1px solid #666;
    box-shadow: 1px 1px 3px #888;
}

:global .gte_label {
    float: left;
    padding-top: 6px;
    width: 40%;
}

:global .gte_label_text {
    font-weight: normal;
}

div.gte_field input[type="color"],
div.gte_field input[type="date"],
div.gte_field input[type="datetime"],
div.gte_field input[type="datetime-local"],
div.gte_field input[type="email"],
div.gte_field input[type="month"],
div.gte_field input[type="number"],
div.gte_field input[type="password"],
div.gte_field input[type="search"],
div.gte_field input[type="tel"],
div.gte_field input[type="text"],
div.gte_field input[type="time"],
div.gte_field input[type="url"],
div.gte_field input[type="week"],
div.gte_field textarea {
    padding: 6px 4px;
    width: 100%;
    resize: vertical;
}

div.gte_field input, div.gte_field textarea {
    background-color: white;
    box-sizing: border-box;
    transition: background-color 0.15s ease-in-out 0s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

:global .gte_field {
    float: right;
    width: 60%;
}

.gte_field input:focus, textarea:focus {
    background-color: #ffe !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

:global #gte_msg {
    padding: 4px 6px;
    text-align: center;
}

:global .gte_msg {
    padding: 4px 6px;
    text-align: center;
}

/*:global .display {
  display: block;
}*/
:global .fade_in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
}

:global .fade_out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

:global .multi_value {
    display: none;
    border: 1px dotted #666;
    border-radius: 3px;
    padding: 5px;
    background-color: #fafafa;
    cursor: pointer;
}

:global .close_btn {
    position: absolute;
    top: -11px;
    right: -11px;
    width: 22px;
    height: 22px;
    border: 2px solid white;
    background-color: black;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    z-index: 12;
    box-shadow: 2px 2px 6px #111;
}

:global .close_btn:after {
    content: '\00d7';
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1px;
}
:global .close_btn:hover {
    background-color: #bb2525;
    box-shadow: 2px 2px 9px #111;
}

:global .draftJsToolbar__buttonWrapper__1Dmqh {
    display: inline-block;
}

:global .draftJsToolbar__button__qi1gf {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

:global .draftJsToolbar__button__qi1gf svg {
    fill: #888;
}

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
    background: #f3f3f3;
    outline: 0; /* reset for :focus */
}

:global .draftJsToolbar__active__3qcpF {
    background: #efefef;
    color: #444;
}

:global .draftJsToolbar__active__3qcpF svg {
    fill: #444;
}
:global .draftJsToolbar__separator__3U7qt {
    display: inline-block;
    border-right: 1px solid #ddd;
    height: 24px;
    margin: 0 0.5em;
}
.draftJsToolbar__toolbar__dNtBH {
    left: 50%;
    -webkit-transform: translate(-50%) scale(0);
    transform: translate(-50%) scale(0);
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
    z-index: 2;
    box-sizing: border-box;
}

.draftJsToolbar__toolbar__dNtBH:after, .draftJsToolbar__toolbar__dNtBH:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.draftJsToolbar__toolbar__dNtBH:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 4px;
    margin-left: -4px;
}
.draftJsToolbar__toolbar__dNtBH:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 6px;
    margin-left: -6px;
}

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

:global .headlineButtonWrapper {
    display: inline-block;
}

:global  .headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
    background: #f3f3f3;
}
