label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 100%;
}
.gte_button {
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #ccc;
  color: #000 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.88em;
  margin-right: 3px;
  padding: 5px 8px;
  position: relative;
  float:left;
  background: #ffffff; /* Old browsers */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Opera 11.10+ */
  background:         linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}
.gte_button:hover:not(.gte_btn_disabled) {
  border: 1px solid #666;
  box-shadow: 1px 1px 1px #999;

  background: #f3f3f3; /* Old browsers */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
  background:         linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
.gte_buttons_container {
  float:left;
  margin:0 5px 0 0;
}
.gte_btn_disabled {
  background: #fff;
  box-shadow: 1px 1px 1px #999;
  border:1px solid #eee;
  cursor:default;
  color: #999 !important;
}
.gte_editor_popup {
  display:none;
  height: 100%;
  left: 50%;
  margin-left: -390px;
  position: fixed;
  top: 0;
  width: 780px;
  z-index: 111;
}
.gte_popup_background {
  display:none;
  background: rgba(0, 0, 0, 0) radial-gradient(ellipse farthest-corner at center center , rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
}
.gte_popup_container {
  display: table;
  height: 100%;
  width: 100%;
  margin-top:15%;
}
.gte_form_body {
  padding: 50px 0;
}
.gte_form_body_content {
  overflow: auto;
  position: relative;
}
.gte_popup_container_wrapper {
  display: table;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
.gte_form_border_box {
  border: 7px solid rgba(220, 220, 220, 0.5);
  border-radius: 10px;
  box-shadow: 2px 2px 10px #555;
  box-sizing: border-box;
  position: relative;
}
.gte_form_fields {
  background: white none repeat scroll 0 0;
  border: 2px solid #444;
  border-radius: 6px;
  box-shadow: 0 0 5px #555;
  box-sizing: border-box;
}
.gte_editor_fields {
  border: 1px solid transparent;
  clear: both;
  padding: 5px 20%;
  position: relative;
}
.gte_form_content {
  padding: 10px;
  position: relative;
}
.gte_header {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 1.3em;
  height: 50px;
  /*left: 0;*/
  padding: 16px 10px 2px 16px;
  position: absolute;
  /*top: 0;*/
  /*width: 100%;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 2px;
  right: 2px;
  top: 2px;
  width: auto;
}
.gte_footer {
  background-color: #f3f3f3;
  border-top: 1px solid #ddd;
  /*bottom: 0;*/
  box-sizing: border-box;
  height: 50px;
  /*left: 0;*/
  padding: 10px;
  position: absolute;
  /*width: 100%;*/
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  width: auto;
}
.gte_form_err {
  color: #b11f1f;
  display: none;
  float: left;
  padding: 5px;
}
.gte_form_buttons .btn {
  position: relative;
  text-align: center;
  display: block;
  margin-top: 0;
  padding: 5px 15px;
  cursor: pointer;
  float: right;
  font-size: 14px;
  text-shadow: 0 1px 0 white;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  box-shadow: 1px 1px 3px #cccccc;
  background-color: #f9f9f9 100%;
  /* Fallback */
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
  /* IE10 */
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, white 0%, #eeeeee 65%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#f9f9f9');
}
.gte_form_buttons .btn:hover {
  background-color: #f3f3f3 100%;
  /* Fallback */
  background-image: -webkit-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
  /* IE10 */
  background-image: -o-linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, white 0%, #dedede 65%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#f3f3f3');
  border: 1px solid #666;
  box-shadow: 1px 1px 3px #888;
}
.gte_label {
  float: left;
  padding-top: 6px;
  width: 40%;
}
.gte_label_text{
  font-weight: normal;
}
div.gte_field input[type="color"],
div.gte_field input[type="date"],
div.gte_field input[type="datetime"],
div.gte_field input[type="datetime-local"],
div.gte_field input[type="email"],
div.gte_field input[type="month"],
div.gte_field input[type="number"],
div.gte_field input[type="password"],
div.gte_field input[type="search"],
div.gte_field input[type="tel"],
div.gte_field input[type="text"],
div.gte_field input[type="time"],
div.gte_field input[type="url"],
div.gte_field input[type="week"],
div.gte_field textarea
{
  padding: 6px 4px;
  width: 100%;
  resize:vertical;
}
div.gte_field input, div.gte_field textarea {
  background-color: white;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out 0s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.gte_field {
  float: right;
  width: 60%;
}
.gte_field input:focus, textarea:focus {
  background-color:#ffe !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
#gte_msg {
  padding:4px 6px;
  text-align: center;
}
